@for $i from 0 through 20 {
  $num: $i * 5;

  @if $i == 0 {
    ._u-mt-#{$num} {
      margin-top: 0 !important;
    }
    ._u-mr-#{$num} {
      margin-right: 0 !important;
    }
    ._u-mb-#{$num} {
      margin-bottom: 0 !important;
    }
    ._u-ml-#{$num} {
      margin-left: 0 !important;
    }
  } @else {
    ._u-mt-#{$num} {
      margin-top: 5px * $i !important;
    }
    ._u-mr-#{$num} {
      margin-right: 5px * $i !important;
    }
    ._u-mb-#{$num} {
      margin-bottom: 5px * $i !important;
    }
    ._u-ml-#{$num} {
      margin-left: 5px * $i !important;
    }
  }
}
